/* This file is for your main application css. */

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  text-align: center;
}

h2.zombie {
  color: #FF7D00;
}

h2.human {
  color: #41C4FF;
}

.strategies {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.strategies a {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  padding-top: 15px;
}

.being {
  height: 3.5%;
  width: 3.5%;
  border-radius: 50%;
  position: absolute;
}

.being.zombie {
  background-color: #FF7D00;
}

.being.human {
  background-color:  #41C4FF;
}

anchor {
  display: flex;
  justify-content: center;
}

.custom-container {
  position: relative;
  width: 40vw;
  min-width: 500px;
  height: 40vw;
  min-height: 500px;
}

.custom-container:empty {
  height: 0px;
  min-height: 0px;
}

body {
  background-color: #ffeeee;
}
