/* This file is for your main application css. */

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  text-align: center;
}

h2.zombie {
  color: #FF7D00;
}

h2.human {
  color: #41C4FF;
}

.being {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
}

.being.zombie {
  background-color: #FF7D00;
}

.being.human {
  background-color:  #41C4FF;
}

anchor {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 800px;
  height: 750px;
}

.container:empty {
  height: 0px;
}
