/* This file is for your main application css. */

.being {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
}

.zombie {
  background-color: red;
}

.human {
  background-color: cyan;
}
