<h1>Zmobies!</h1>
<section class="strategies">
  <a href="/start?strategy=run_for_the_hills"> Always Run</a>
  <a href="/start?strategy=this_is_sparta"> Always Fight</a>
  <a href="/start?strategy=fight_or_flight"> Fight as a Last Resort </a>
  <a href="/start?strategy=strength_in_numbers"> Strength in Numbers</a>
  <a href="/start?strategy=dont_look_back"> Keep Running</a>
  <a href="/start?strategy=chatter"> Chatter</a>

</section>
